<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aさんの自己紹介</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <header>
        <h1>自己紹介</h1>
    </header>
    <main class="profile">
        <section>
            <img src="../public/a_intro.png" alt="齊藤">
        </section>
        <p><a href="index.html">メンバー一覧へ戻る</a></p>
    </main>
    <footer>
        <p>教員一覧：
            <a href="a.html">Aさん</a>
            <a href="b.html">Bさん</a>
            <a href="c.html">Cさん</a>
        </p>
    </footer>
</body>
</html>