<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メンバー紹介</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <header>
        <h1>メンバー紹介</h1>
    </header>
    <main>
        <ul>
            <li>
                <div>▼理科</div>
                <div>
                    <img src="../public/a_icon.png" alt="齊藤">
                    <a href="a.html">齊藤さんの自己紹介</a>
                </div>
            </li>
        </ul>
        <ul>
            <li>
                <div>▼理科</div>
                <div>
                    <img src="../public/a_icon.png" alt="齊藤">
                    <a href="a.html">齊藤さんの自己紹介</a>
                </div>
            </li>
        </ul>
        <ul>
            <li>
                <div>▼理科</div>
                <div>
                    <img src="../public/a_icon.png" alt="齊藤">
                    <a href="a.html">齊藤さんの自己紹介</a>
                </div>
            </li>
        </ul>
    </main>
    <footer>
        <p>&copy; 2025 名古屋千種キャンパス 自己紹介サイト</p>
    </footer>
</body>
</html>